// Variable
$font-family2: 'Open Sans',
sans-serif;
$font-family: 'Work Sans',
sans-serif;
$color-primary: #976efa;
$second-primary: #e5e5e5;
$background-color: #f7f7f8;
// Mixin
@mixin flexBox {
    display: flex;
    align-items: center;
}

@function getItem($item) {
    @return 100% / $item;
}

@mixin positison($type, $y, $x) {
    position: absolute;
    @if($type=='tl') {
        top: $y;
        left: $x;
    }
    @else if($type=='tr') {
        top: $y;
        right: $x;
    }
    @else if($type=='bl') {
        bottom: $y;
        left: $x;
    }
    @else if($type=='br') {
        bottom: $y;
        right: $x;
    }
}

// Function
// Setup project
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: $font-family;
}

.app {
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    background: transparent;
    list-style: none;
}

input,
.btn {
    border: none;
    background: transparent;
    outline: none;
}

// Header
.header {
    position: relative;
    max-height: 50px;
    line-height: auto;
    background-color: white;
    box-shadow: 1px 0px 10px 0.5px rgba($color: #000000, $alpha: 0.2);
    @include flexBox();
    justify-content: space-between;
    z-index: 2;
    .header-left {
        @include flexBox();
        .logo {
            display: block;
            margin: 0 10px 0 0px;
            font-size: 3em;
            color: $color-primary;
            line-height: auto;
            a {
                padding: 10px;
            }
        }
        .main-menu {
            @include flexBox();
            position: relative;
            .main-menu__item {
                font-size: 2em;
                font-weight: 500;
                padding: 15px 20px;
                cursor: pointer;
                position: relative;
                &:hover {
                    color: $color-primary;
                }
            }
            .main-menu__item--vertical {
                margin-left: -18px;
                &::after {
                    content: " ";
                    @include positison('tr', 50%, 0);
                    transform: translateY(-50%);
                    border-width: 15px 0.2px;
                    border-style: solid;
                    border-color: $second-primary;
                }
            }
            .main-menu__item--option {
                position: relative;
                margin: 0 0 0 10px;
                font-size: 1.6em;
                cursor: pointer;
                span {
                    padding: 5px 10px;
                    &:hover {
                        background: $second-primary;
                        border-radius: 5px;
                        padding: 0 -10px;
                        color: black;
                    }
                }
                .sub-option {
                    @include positison('tl', 30px, 0);
                    min-width: 200px;
                    min-height: 100%;
                    background: white;
                    box-shadow: 00px 0px 5px 1px rgba($color: #000000, $alpha: 0.1);
                    padding: 10px;
                    border-radius: 5px;
                    display: none;
                    .general {
                        .general__heading {
                            font-size: 0.9em;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #585858;
                            margin: 5px 0;
                        }
                        .general__list {
                            padding-bottom: 7px;
                            border-bottom: 1px solid #cccccc;
                            li {
                                a {
                                    display: block;
                                    font-size: 0.8em;
                                    margin: 2px 0;
                                    padding: 8px 5px;
                                    border-radius: 5px;
                                    color: black;
                                    &:hover {
                                        background: $second-primary;
                                    }
                                }
                            }
                        }
                    }
                    .help {
                        margin: 10px 0 10px 0;
                        .help__heading {
                            font-size: 0.9em;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #585858;
                            margin: 5px 0;
                        }
                        .help__list {
                            li {
                                a {
                                    display: block;
                                    font-size: 0.8em;
                                    margin: 2px 0;
                                    padding: 8px 5px;
                                    border-radius: 5px;
                                    color: black;
                                    &:hover {
                                        background: $second-primary;
                                    }
                                }
                            }
                        }
                    }
                    &::after {
                        content: " ";
                        @include positison('tl', -5px, 0);
                        width: 100px;
                        height: 10px;
                        background: transparent;
                    }
                }
                .show {
                    display: block;
                }
            }
            .active-item {
                color: $color-primary;
            }
            .left-line {
                @include positison('bl', 0, 0);
                width: 0;
                background: $color-primary;
                height: 3px;
                transition: all 0.3s ease;
            }
        }
    }
    .header-center {
        .search {
            @include flexBox();
            #search__input {
                width: 350px;
                height: 38px;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                padding-left: 10px;
                background: $second-primary;
                border: 2px solid transparent;
                font-size: 1.5em;
                font-family: $font-family;
                &:hover {
                    border: 2px solid #cccccc;
                }
                &:focus {
                    border: 2px solid $color-primary;
                    background: white;
                }
            }
            .btn--search {
                width: 40px;
                height: 38px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                background: #cccccc;
                color: white;
                font-size: 1.6em;
                &:hover {
                    background-color: #cccccc;
                }
            }
        }
    }
    .header-right {
        @include flexBox();
        .reward {
            position: relative;
            .reward__info {
                @include positison('tr', 29px, -75px);
                min-width: 200px;
                padding: 3px;
                font-size: 1.4em;
                font-weight: 500;
                color: white;
                background: black;
                border-radius: 5px;
                display: none;
                &::after {
                    content: " ";
                    border-width: 8px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                    @include positison("tl", -15px, 50%);
                    transform: translateX(-50%)
                }
            }
            .reward__icon {
                position: relative;
                margin: 0 10px;
                padding: 1px 8px;
                cursor: pointer;
                font-size: 2em;
                &:hover {
                    border-radius: 5px;
                    background: $second-primary;
                }
                .count-reward {
                    @include positison('tr', -2px, -2px);
                    font-size: 0.57em;
                    padding: 2px 5px;
                    border-radius: 10px;
                    background: red;
                    color: white;
                }
            }
        }
        .login {
            margin-right: 10px;
            .btn--login {
                min-width: 90px;
                min-height: 30px;
                max-height: 30px;
                background: $second-primary;
                color: black;
                border-radius: 5px;
                font-size: 1.4em;
                font-weight: 600;
                padding: 2px 10px;
                font-family: $font-family;
                cursor: pointer;
                &:hover {
                    background: #cccccc;
                }
            }
        }
        .register {
            margin-right: 10px;
            .btn--register {
                min-width: 90px;
                min-height: 30px;
                max-height: 30px;
                background: $color-primary;
                color: white;
                border-radius: 5px;
                font-size: 1.4em;
                font-weight: 600;
                padding: 2px 10px;
                font-family: $font-family;
                cursor: pointer;
                &:hover {
                    background: #7d65e9;
                }
            }
        }
        .account {
            margin: 0 10px 0 0;
            position: relative;
            .account__icon {
                font-size: 1.7em;
                cursor: pointer;
                padding: 8px;
                border-radius: 5px;
                &:hover {
                    background: $second-primary;
                }
                &:hover .account-option {
                    display: block;
                }
            }
            .account-option {
                display: none;
                @include positison('tr', 40px, 0);
                width: 188px;
                background: white;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 1px 1px 5px 1px rgba($color: #000000, $alpha: 0.2);
                .wrapper-option {
                    padding: 8px;
                    .languages {
                        @include flexBox();
                        padding: 8px 3px;
                        border-radius: 5px;
                        cursor: pointer;
                        .languages__icon-left {
                            font-size: 1.6em;
                        }
                        .languages__icon-right {
                            @extend .languages__icon-left;
                        }
                        .languages__title {
                            font-size: 1.5em;
                            margin: 0 60px 0 10px;
                        }
                        &:hover {
                            background-color: $second-primary;
                        }
                    }
                    .dark-theme {
                        @include flexBox();
                        margin: 3px 0 10px 0;
                        padding: 5px 3px;
                        border-radius: 5px;
                        cursor: pointer;
                        .dark-theme__icon-left {
                            font-size: 1.6em;
                        }
                        .dark-theme__title {
                            font-size: 1.5em;
                            margin: 0 15px 0 5px;
                        }
                        #dark {
                            display: none;
                        }
                        label {
                            width: 50px;
                            height: 26px;
                            border-radius: 30px;
                            border: 2px solid black;
                            line-height: 25px;
                            cursor: pointer;
                            .dark__btn {
                                margin: 1px 2px 3px 1px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: black;
                                transition: all 1s ease;
                            }
                        }
                    }
                    .logout {
                        @include flexBox();
                        margin: 5px 0 0 0;
                        padding: 5px 3px;
                        border-radius: 5px;
                        cursor: pointer;
                        .logout__left {
                            font-size: 1.6em;
                            transform: rotate(180deg);
                            margin: 0 10px 2px 0
                        }
                        .logout__title {
                            font-size: 1.6em;
                        }
                        &:hover {
                            background: $second-primary;
                        }
                    }
                }
                .languages-option {
                    .languages__heading {
                        @include flexBox();
                        font-size: 1.4em;
                        font-weight: 500;
                        background: $second-primary;
                        padding: 3px;
                        .languages-option__icon {
                            float: left;
                            cursor: pointer;
                            padding: 5px 8px;
                            border-radius: 5px;
                            margin: 0 30px 0 0;
                            &:hover {
                                background: #8d8d8d;
                            }
                        }
                    }
                    .languages__list {
                        height: 330px;
                        padding: 0 5px;
                        margin: 0px 0 0 0;
                        &:hover {
                            overflow-y: scroll;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar {
                            width: 5px;
                            background-color: #F5F5F5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                            background-color: rgb(119, 113, 113);
                        }
                        li {
                            cursor: pointer;
                            padding: 6px;
                            font-size: 1.4em;
                            border-radius: 5px;
                            margin: 2px 0;
                            position: relative;
                            &:hover {
                                background: $second-primary;
                            }
                        }
                        .active-languages {
                            background: $color-primary;
                            color: white;
                            &:hover {
                                background: $color-primary;
                            }
                        }
                    }
                    display: none;
                }
            }
            .show {
                display: block;
            }
        }
    }
}

// Form 
.overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    @include flexBox();
    justify-content: center;
    visibility: hidden;
    z-index: 1;
    .wrapper-form {
        width: 422px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        .form-heading {
            margin: 20px 0 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .form-heading__icon {
                font-size: 4em;
                color: $color-primary;
                margin: 0 10px 0 0;
            }
            .form-heading__title {
                p {
                    font-size: 2em;
                    font-weight: 600;
                    display: none;
                }
                .show-title {
                    display: block;
                }
            }
        }
        .tabs-form {
            display: flex;
            align-items: center;
            padding: 5px 0 8px 0;
            border-bottom: 1px solid $second-primary;
            position: relative;
            .tabs-form__item {
                cursor: pointer;
                font-family: $font-family2;
                font-size: 1.4em;
                font-weight: 700;
                margin-right: 15px;
            }
            .active-tab {
                color: $color-primary;
            }
            .line-form {
                width: 0;
                height: 3px;
                background: $color-primary;
                @include positison("bl", -2px, 0);
                transition: all 0.5s ease;
            }
        }
        .form__list {
            // display: flex;
            .form__item {
                margin: 20px 0 0 0;
                display: none;
                .form-group {
                    margin-bottom: 10px;
                    label {
                        font-size: 1.4em;
                        font-weight: 600;
                    }
                    input {
                        width: 100%;
                        height: 32px;
                        background: $second-primary;
                        border-radius: 5px;
                        padding-left: 10px;
                        margin: 5px 0 12px 0;
                        font-family: $font-family;
                        font-size: 1.6em;
                        border: 2px solid transparent;
                        &:hover {
                            border: 2px solid #7e7e7e;
                        }
                        &:focus {
                            background: white;
                            border: 2px solid $color-primary;
                        }
                    }
                    .form-messages {
                        font-size: 1.4em;
                        color: red;
                    }
                    .btn--login {
                        width: 100%;
                        height: 32px;
                        background: $color-primary;
                        font-size: 1.4em;
                        color: white;
                        font-weight: 600;
                        border-radius: 5px;
                        cursor: pointer;
                        margin: 0 0 10px 0;
                        &:hover {
                            background: #7d65e9;
                        }
                    }
                    .horizontal-line {
                        width: 100%;
                        background: $second-primary;
                        height: 1px;
                        position: relative;
                        &::before {
                            content: "hoặc ";
                            @include positison('tl', 50%, 50%);
                            font-size: 1.5em;
                            background: white;
                            padding: 5px;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .btn--login-facebook {
                        margin: 20px 0 10px 0;
                        min-width: 183px;
                        height: 30px;
                        background: #3a5998;
                        color: white;
                        font-size: 1.4em;
                        cursor: pointer;
                        &:hover {
                            background: #587cc5;
                        }
                    }
                    .btn--register {
                        @extend .btn--login;
                    }
                    .birthday {
                        input {
                            width: 40%
                        }
                        @include flexBox();
                        #month {
                            width: 60%;
                            height: 32px;
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            margin: 0 10px 6px 10px;
                            font-size: $font-family;
                            padding: 0 10px 0 10px;
                            border: 2px solid transparent;
                            &:hover {
                                border: 2px solid #7e7e7e;
                            }
                            &:focus {
                                background: white;
                                border: 2px solid $color-primary;
                            }
                        }
                    }
                }
                .policy {
                    text-align: center;
                    font-size: 1.2em;
                    margin: 0 0 20px 0;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .form-group__facebook {
                    text-align: center;
                }
                .form-help {
                    display: block;
                    font-size: 1.3em;
                    font-weight: 500;
                    color: $color-primary;
                    margin: 0 0 20px 0;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .show-form {
                display: block;
            }
        }
    }
    .close-form {
        margin: 0 0 0 10px;
        cursor: pointer;
        border-radius: 5px;
        i {
            font-size: 1.6em;
            padding: 8px;
            color: white;
        }
        &:hover {
            background: rgba($color: $second-primary, $alpha: 0.5);
        }
    }
}

.active-overlay {
    visibility: visible;
}

// Content
.content {
    background: $background-color;
    display: flex;
    .content-left {
        min-width: 240px;
        background: #efeff1;
        // height: 100vh;
        .content-left__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.7em;
            color: #585858;
            margin: 10px 10px 3px 10px;
            .content-left__icon {
                padding: 8px;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #aaaaaa;
                }
            }
        }
        .channel__list {
            .channel__item {
                cursor: pointer;
                @include flexBox();
                padding: 10px;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .channel__info {
                    margin: 0 10px 0 10px;
                    .channel__name {
                        font-weight: 600;
                        font-size: 1.45em;
                    }
                    .channel__game {
                        font-size: 1.3em;
                        color: #585858;
                    }
                }
                .viewer {
                    margin: 0 0 0 60px;
                    @include flexBox();
                    .viewer__icon {
                        color: red;
                    }
                    .count-viewer {
                        margin-left: 5px;
                        font-size: 1.5em;
                    }
                }
                &:hover {
                    background: #b6b6b6;
                }
            }
        }
    }
    .main-content {
        height: calc(100vh - 50px);
        width: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: rgb(122, 122, 122);
        }
        .main-content__item {
            padding: 30px 0 0 30px;
            display: none;
            .main-content__heading {
                font-family: $font-family2;
                font-size: 5.2em;
                margin-bottom: 28px;
            }
            .content-tab {
                position: relative;
                @include flexBox();
                padding-bottom: 10px;
                margin-bottom: 25px;
                cursor: pointer;
                .content-tab__item {
                    font-family: $font-family2;
                    margin-right: 20px;
                    font-size: 1.8em;
                    font-weight: 700;
                }
                .avtive-tab__categories {
                    color: $color-primary;
                }
                .line-category {
                    @include positison('bl', 0, 0);
                    width: 90px;
                    height: 2.5px;
                    background: $color-primary;
                    transition: all .2s ease-in-out
                }
            }
            .content-filter {
                @include flexBox();
                justify-content: space-between;
                margin: 0 30px 30px 0;
                .search-filter {
                    @include flexBox();
                    .search-filter__heading {
                        font-size: 1.5em;
                        font-weight: 600;
                        margin: 0 10px 0 0;
                    }
                    .search-filter__input {
                        position: relative;
                        #search-filter__input {
                            width: 240px;
                            height: 30px;
                            border: 2px solid transparent;
                            background: #c3c3c3;
                            border-radius: 5px;
                            padding-left: 30px;
                            font-family: $font-family;
                            font-size: 1.5em;
                            &:hover {
                                border: 2px solid #585858;
                            }
                            &:focus {
                                background: white;
                                border-color: $color-primary;
                            }
                        }
                        .search-filter__icon {
                            @include positison('tl', 50%, 8px);
                            transform: translateY(-50%);
                            font-size: 1.5em;
                            color: #585858;
                        }
                    }
                }
                .sort-category {
                    @include flexBox();
                    .sort-category__heading {
                        font-size: 1.5em;
                        font-weight: 600;
                        margin-right: 10px;
                    }
                }
                .main-sort {
                    position: relative;
                    min-width: 150px;
                    height: 30px;
                    background: $second-primary;
                    border-radius: 5px;
                    line-height: auto;
                    border: 2px solid transparent;
                    .main-sort__item {
                        @include flexBox();
                        padding: 0 10px;
                        font-size: 1.4em;
                        // border: 2px solid #8d8d8d;
                        cursor: pointer;
                        span {
                            margin-right: 10px;
                        }
                    }
                    &:hover {
                        border: 2px solid #8d8d8d;
                    }
                    .sub-sort {
                        @include positison('tr', 40px, 0);
                        width: 230px;
                        min-height: 80px;
                        padding: 10px;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px 0.5px rgba($color: #000000, $alpha: 0.1);
                        visibility: hidden;
                        z-index: 2;
                        .sub-sort__item {
                            @include flexBox();
                            padding: 8px;
                            border-radius: 5px;
                            cursor: pointer;
                            font-size: 1.3em;
                            i {
                                margin: 0 10px 0 0;
                            }
                            &:hover {
                                background: $second-primary;
                            }
                        }
                        .active-filter {
                            color: white;
                            background: $color-primary;
                            &:hover {
                                color: white;
                                background: $color-primary;
                            }
                        }
                    }
                    .active-filter-category {
                        visibility: visible;
                    }
                }
            }
            .content-category {
                .content-category__item {
                    display: none;
                    .category__list {
                        @include flexBox();
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        cursor: pointer;
                        .category__item {
                            width: 185px;
                            margin: 0px 2px 20px 5px;
                            // width: getItem(8);
                            min-height: 340px;
                            // margin: 0 0 20px 0;
                            .category-item__img {
                                height: 246.66px;
                                width: 100%;
                                position: relative;
                                background: $color-primary;
                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                    transition: all 0.2s ease;
                                    &:hover {
                                        transform: translate(6px, -6px);
                                    }
                                }
                            }
                            .category__name {
                                margin-top: 10px;
                                font-family: $font-family2;
                                font-size: 1.5em;
                                font-weight: 700;
                                margin-bottom: 5px;
                                color: rgb(22, 22, 22);
                                overflow-x: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            .category__viewer {
                                font-family: $font-family2;
                                font-size: 1.3em;
                                color: #333;
                            }
                            .categories-game {
                                margin: 10px 0 0 0;
                                @include flexBox();
                                flex-wrap: wrap;
                                .categories-game__item {
                                    font-size: 1.1em;
                                    margin: 0 3px 0 0;
                                    padding: 4px 8px;
                                    background: $second-primary;
                                    font-weight: 600;
                                    color: #333;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                    .stream__list {
                        @include flexBox();
                        flex-wrap: wrap;
                        .stream__item {
                            width: 304.8px;
                            margin-right: 8px;
                            margin-bottom: 20px;
                            .stream-background {
                                width: 304.8px;
                                position: relative;
                                background-color: $color-primary;
                                height: 171px;
                                .stream-background__img {
                                    width: 304.8px;
                                    height: 171px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    position: relative;
                                    cursor: pointer;
                                    transition: all 0.2s ease-in;
                                    &:hover {
                                        transform: translate(6px, -6px);
                                    }
                                    .stream__notification {
                                        @include positison('tl', 10px, 10px);
                                        padding: 5px;
                                        background: red;
                                        font-size: 1.2em;
                                        text-transform: uppercase;
                                        font-weight: 700;
                                        color: white;
                                        border-radius: 5px;
                                    }
                                    .count__viewer-stream {
                                        @include positison('bl', 10px, 10px);
                                        background: rgba($color: #000000, $alpha: 0.4);
                                        color: white;
                                        padding: 5px;
                                        border-radius: 5px;
                                        font-size: 1.1em;
                                    }
                                }
                            }
                            .channel {
                                margin-top: 10px;
                                display: flex;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                    margin: 0 10px 0 0;
                                }
                                .channel-info {
                                    .channel-info__title {
                                        font-family: $font-family2;
                                        font-size: 1.6em;
                                        font-weight: 600;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                    .channel-info__name {
                                        font-family: $font-family2;
                                        font-size: 1.4em;
                                        color: #585858;
                                        margin: 0 0 3px 0;
                                    }
                                    .channel-info__name-game {
                                        @extend .channel-info__name;
                                    }
                                    .channel-info__languages {
                                        margin: 5px 0 0 0;
                                        text-align: center;
                                        width: 80px;
                                        height: 20px;
                                        background: #d4d3d3;
                                        line-height: 20px;
                                        font-size: 1.2em;
                                        border-radius: 20px;
                                        font-weight: 600;
                                        color: #575757;
                                    }
                                }
                            }
                        }
                    }
                }
                .active-item__content {
                    display: block;
                }
            }
        }
        .active-content {
            display: block;
        }
    }
}