@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

.app {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  background: transparent;
  list-style: none;
}

input,
.btn {
  border: none;
  background: transparent;
  outline: none;
}

.header {
  position: relative;
  max-height: 50px;
  line-height: auto;
  background-color: white;
  -webkit-box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-left .logo {
  display: block;
  margin: 0 10px 0 0px;
  font-size: 3em;
  color: #976efa;
  line-height: auto;
}

.header .header-left .logo a {
  padding: 10px;
}

.header .header-left .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-left .main-menu .main-menu__item {
  font-size: 2em;
  font-weight: 500;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}

.header .header-left .main-menu .main-menu__item:hover {
  color: #976efa;
}

.header .header-left .main-menu .main-menu__item--vertical {
  margin-left: -18px;
}

.header .header-left .main-menu .main-menu__item--vertical::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-width: 15px 0.2px;
  border-style: solid;
  border-color: #e5e5e5;
}

.header .header-left .main-menu .main-menu__item--option {
  position: relative;
  margin: 0 0 0 10px;
  font-size: 1.6em;
  cursor: pointer;
}

.header .header-left .main-menu .main-menu__item--option span {
  padding: 5px 10px;
}

.header .header-left .main-menu .main-menu__item--option span:hover {
  background: #e5e5e5;
  border-radius: 5px;
  padding: 0 -10px;
  color: black;
}

.header .header-left .main-menu .main-menu__item--option .sub-option {
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 200px;
  min-height: 100%;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .general .general__heading {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #585858;
  margin: 5px 0;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .general .general__list {
  padding-bottom: 7px;
  border-bottom: 1px solid #cccccc;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .general .general__list li a {
  display: block;
  font-size: 0.8em;
  margin: 2px 0;
  padding: 8px 5px;
  border-radius: 5px;
  color: black;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .general .general__list li a:hover {
  background: #e5e5e5;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .help {
  margin: 10px 0 10px 0;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .help .help__heading {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #585858;
  margin: 5px 0;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .help .help__list li a {
  display: block;
  font-size: 0.8em;
  margin: 2px 0;
  padding: 8px 5px;
  border-radius: 5px;
  color: black;
}

.header .header-left .main-menu .main-menu__item--option .sub-option .help .help__list li a:hover {
  background: #e5e5e5;
}

.header .header-left .main-menu .main-menu__item--option .sub-option::after {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100px;
  height: 10px;
  background: transparent;
}

.header .header-left .main-menu .main-menu__item--option .show {
  display: block;
}

.header .header-left .main-menu .active-item {
  color: #976efa;
}

.header .header-left .main-menu .left-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #976efa;
  height: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .header-center .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-center .search #search__input {
  width: 350px;
  height: 38px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  background: #e5e5e5;
  border: 2px solid transparent;
  font-size: 1.5em;
  font-family: "Work Sans", sans-serif;
}

.header .header-center .search #search__input:hover {
  border: 2px solid #cccccc;
}

.header .header-center .search #search__input:focus {
  border: 2px solid #976efa;
  background: white;
}

.header .header-center .search .btn--search {
  width: 40px;
  height: 38px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #cccccc;
  color: white;
  font-size: 1.6em;
}

.header .header-center .search .btn--search:hover {
  background-color: #cccccc;
}

.header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-right .reward {
  position: relative;
}

.header .header-right .reward .reward__info {
  position: absolute;
  top: 29px;
  right: -75px;
  min-width: 200px;
  padding: 3px;
  font-size: 1.4em;
  font-weight: 500;
  color: white;
  background: black;
  border-radius: 5px;
  display: none;
}

.header .header-right .reward .reward__info::after {
  content: " ";
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .header-right .reward .reward__icon {
  position: relative;
  margin: 0 10px;
  padding: 1px 8px;
  cursor: pointer;
  font-size: 2em;
}

.header .header-right .reward .reward__icon:hover {
  border-radius: 5px;
  background: #e5e5e5;
}

.header .header-right .reward .reward__icon .count-reward {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 0.57em;
  padding: 2px 5px;
  border-radius: 10px;
  background: red;
  color: white;
}

.header .header-right .login {
  margin-right: 10px;
}

.header .header-right .login .btn--login, .header .header-right .login .overlay .wrapper-form .form__list .form__item .form-group .btn--register, .overlay .wrapper-form .form__list .form__item .form-group .header .header-right .login .btn--register {
  min-width: 90px;
  min-height: 30px;
  max-height: 30px;
  background: #e5e5e5;
  color: black;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 2px 10px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

.header .header-right .login .btn--login:hover, .header .header-right .login .overlay .wrapper-form .form__list .form__item .form-group .btn--register:hover, .overlay .wrapper-form .form__list .form__item .form-group .header .header-right .login .btn--register:hover {
  background: #cccccc;
}

.header .header-right .register {
  margin-right: 10px;
}

.header .header-right .register .btn--register {
  min-width: 90px;
  min-height: 30px;
  max-height: 30px;
  background: #976efa;
  color: white;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 2px 10px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

.header .header-right .register .btn--register:hover {
  background: #7d65e9;
}

.header .header-right .account {
  margin: 0 10px 0 0;
  position: relative;
}

.header .header-right .account .account__icon {
  font-size: 1.7em;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

.header .header-right .account .account__icon:hover {
  background: #e5e5e5;
}

.header .header-right .account .account__icon:hover .account-option {
  display: block;
}

.header .header-right .account .account-option {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 188px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.header .header-right .account .account-option .wrapper-option {
  padding: 8px;
}

.header .header-right .account .account-option .wrapper-option .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.header .header-right .account .account-option .wrapper-option .languages .languages__icon-left, .header .header-right .account .account-option .wrapper-option .languages .languages__icon-right {
  font-size: 1.6em;
}

.header .header-right .account .account-option .wrapper-option .languages .languages__title {
  font-size: 1.5em;
  margin: 0 60px 0 10px;
}

.header .header-right .account .account-option .wrapper-option .languages:hover {
  background-color: #e5e5e5;
}

.header .header-right .account .account-option .wrapper-option .dark-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0 10px 0;
  padding: 5px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.header .header-right .account .account-option .wrapper-option .dark-theme .dark-theme__icon-left {
  font-size: 1.6em;
}

.header .header-right .account .account-option .wrapper-option .dark-theme .dark-theme__title {
  font-size: 1.5em;
  margin: 0 15px 0 5px;
}

.header .header-right .account .account-option .wrapper-option .dark-theme #dark {
  display: none;
}

.header .header-right .account .account-option .wrapper-option .dark-theme label {
  width: 50px;
  height: 26px;
  border-radius: 30px;
  border: 2px solid black;
  line-height: 25px;
  cursor: pointer;
}

.header .header-right .account .account-option .wrapper-option .dark-theme label .dark__btn {
  margin: 1px 2px 3px 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header .header-right .account .account-option .wrapper-option .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 0;
  padding: 5px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.header .header-right .account .account-option .wrapper-option .logout .logout__left {
  font-size: 1.6em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0 10px 2px 0;
}

.header .header-right .account .account-option .wrapper-option .logout .logout__title {
  font-size: 1.6em;
}

.header .header-right .account .account-option .wrapper-option .logout:hover {
  background: #e5e5e5;
}

.header .header-right .account .account-option .languages-option {
  display: none;
}

.header .header-right .account .account-option .languages-option .languages__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  font-weight: 500;
  background: #e5e5e5;
  padding: 3px;
}

.header .header-right .account .account-option .languages-option .languages__heading .languages-option__icon {
  float: left;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  margin: 0 30px 0 0;
}

.header .header-right .account .account-option .languages-option .languages__heading .languages-option__icon:hover {
  background: #8d8d8d;
}

.header .header-right .account .account-option .languages-option .languages__list {
  height: 330px;
  padding: 0 5px;
  margin: 0px 0 0 0;
}

.header .header-right .account .account-option .languages-option .languages__list:hover {
  overflow-y: scroll;
}

.header .header-right .account .account-option .languages-option .languages__list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.header .header-right .account .account-option .languages-option .languages__list::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.header .header-right .account .account-option .languages-option .languages__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777171;
}

.header .header-right .account .account-option .languages-option .languages__list li {
  cursor: pointer;
  padding: 6px;
  font-size: 1.4em;
  border-radius: 5px;
  margin: 2px 0;
  position: relative;
}

.header .header-right .account .account-option .languages-option .languages__list li:hover {
  background: #e5e5e5;
}

.header .header-right .account .account-option .languages-option .languages__list .active-languages {
  background: #976efa;
  color: white;
}

.header .header-right .account .account-option .languages-option .languages__list .active-languages:hover {
  background: #976efa;
}

.header .header-right .account .show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  z-index: 1;
}

.overlay .wrapper-form {
  width: 422px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.overlay .wrapper-form .form-heading {
  margin: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .wrapper-form .form-heading .form-heading__icon {
  font-size: 4em;
  color: #976efa;
  margin: 0 10px 0 0;
}

.overlay .wrapper-form .form-heading .form-heading__title p {
  font-size: 2em;
  font-weight: 600;
  display: none;
}

.overlay .wrapper-form .form-heading .form-heading__title .show-title {
  display: block;
}

.overlay .wrapper-form .tabs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 8px 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.overlay .wrapper-form .tabs-form .tabs-form__item {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin-right: 15px;
}

.overlay .wrapper-form .tabs-form .active-tab {
  color: #976efa;
}

.overlay .wrapper-form .tabs-form .line-form {
  width: 0;
  height: 3px;
  background: #976efa;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overlay .wrapper-form .form__list .form__item {
  margin: 20px 0 0 0;
  display: none;
}

.overlay .wrapper-form .form__list .form__item .form-group {
  margin-bottom: 10px;
}

.overlay .wrapper-form .form__list .form__item .form-group label {
  font-size: 1.4em;
  font-weight: 600;
}

.overlay .wrapper-form .form__list .form__item .form-group input {
  width: 100%;
  height: 32px;
  background: #e5e5e5;
  border-radius: 5px;
  padding-left: 10px;
  margin: 5px 0 12px 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6em;
  border: 2px solid transparent;
}

.overlay .wrapper-form .form__list .form__item .form-group input:hover {
  border: 2px solid #7e7e7e;
}

.overlay .wrapper-form .form__list .form__item .form-group input:focus {
  background: white;
  border: 2px solid #976efa;
}

.overlay .wrapper-form .form__list .form__item .form-group .form-messages {
  font-size: 1.4em;
  color: red;
}

.overlay .wrapper-form .form__list .form__item .form-group .btn--login, .overlay .wrapper-form .form__list .form__item .form-group .btn--register {
  width: 100%;
  height: 32px;
  background: #976efa;
  font-size: 1.4em;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.overlay .wrapper-form .form__list .form__item .form-group .btn--login:hover, .overlay .wrapper-form .form__list .form__item .form-group .btn--register:hover {
  background: #7d65e9;
}

.overlay .wrapper-form .form__list .form__item .form-group .horizontal-line {
  width: 100%;
  background: #e5e5e5;
  height: 1px;
  position: relative;
}

.overlay .wrapper-form .form__list .form__item .form-group .horizontal-line::before {
  content: "hoặc ";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  background: white;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay .wrapper-form .form__list .form__item .form-group .btn--login-facebook {
  margin: 20px 0 10px 0;
  min-width: 183px;
  height: 30px;
  background: #3a5998;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
}

.overlay .wrapper-form .form__list .form__item .form-group .btn--login-facebook:hover {
  background: #587cc5;
}

.overlay .wrapper-form .form__list .form__item .form-group .birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .wrapper-form .form__list .form__item .form-group .birthday input {
  width: 40%;
}

.overlay .wrapper-form .form__list .form__item .form-group .birthday #month {
  width: 60%;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 10px 6px 10px;
  font-size: "Work Sans", sans-serif;
  padding: 0 10px 0 10px;
  border: 2px solid transparent;
}

.overlay .wrapper-form .form__list .form__item .form-group .birthday #month:hover {
  border: 2px solid #7e7e7e;
}

.overlay .wrapper-form .form__list .form__item .form-group .birthday #month:focus {
  background: white;
  border: 2px solid #976efa;
}

.overlay .wrapper-form .form__list .form__item .policy {
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 20px 0;
}

.overlay .wrapper-form .form__list .form__item .policy a:hover {
  text-decoration: underline;
}

.overlay .wrapper-form .form__list .form__item .form-group__facebook {
  text-align: center;
}

.overlay .wrapper-form .form__list .form__item .form-help {
  display: block;
  font-size: 1.3em;
  font-weight: 500;
  color: #976efa;
  margin: 0 0 20px 0;
}

.overlay .wrapper-form .form__list .form__item .form-help:hover {
  text-decoration: underline;
}

.overlay .wrapper-form .form__list .show-form {
  display: block;
}

.overlay .close-form {
  margin: 0 0 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.overlay .close-form i {
  font-size: 1.6em;
  padding: 8px;
  color: white;
}

.overlay .close-form:hover {
  background: rgba(229, 229, 229, 0.5);
}

.active-overlay {
  visibility: visible;
}

.content {
  background: #f7f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content-left {
  min-width: 240px;
  background: #efeff1;
}

.content .content-left .content-left__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7em;
  color: #585858;
  margin: 10px 10px 3px 10px;
}

.content .content-left .content-left__heading .content-left__icon {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.content .content-left .content-left__heading .content-left__icon:hover {
  background: #aaaaaa;
}

.content .content-left .channel__list .channel__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.content .content-left .channel__list .channel__item img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.content .content-left .channel__list .channel__item .channel__info {
  margin: 0 10px 0 10px;
}

.content .content-left .channel__list .channel__item .channel__info .channel__name {
  font-weight: 600;
  font-size: 1.45em;
}

.content .content-left .channel__list .channel__item .channel__info .channel__game {
  font-size: 1.3em;
  color: #585858;
}

.content .content-left .channel__list .channel__item .viewer {
  margin: 0 0 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-left .channel__list .channel__item .viewer .viewer__icon {
  color: red;
}

.content .content-left .channel__list .channel__item .viewer .count-viewer {
  margin-left: 5px;
  font-size: 1.5em;
}

.content .content-left .channel__list .channel__item:hover {
  background: #b6b6b6;
}

.content .main-content {
  height: calc(100vh - 50px);
  width: 100%;
  overflow-y: scroll;
}

.content .main-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

.content .main-content::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.content .main-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7a7a7a;
}

.content .main-content .main-content__item {
  padding: 30px 0 0 30px;
  display: none;
}

.content .main-content .main-content__item .main-content__heading {
  font-family: "Open Sans", sans-serif;
  font-size: 5.2em;
  margin-bottom: 28px;
}

.content .main-content .main-content__item .content-tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.content .main-content .main-content__item .content-tab .content-tab__item {
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
  font-size: 1.8em;
  font-weight: 700;
}

.content .main-content .main-content__item .content-tab .avtive-tab__categories {
  color: #976efa;
}

.content .main-content .main-content__item .content-tab .line-category {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 2.5px;
  background: #976efa;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.content .main-content .main-content__item .content-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 30px 0;
}

.content .main-content .main-content__item .content-filter .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__heading {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__input {
  position: relative;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__input #search-filter__input {
  width: 240px;
  height: 30px;
  border: 2px solid transparent;
  background: #c3c3c3;
  border-radius: 5px;
  padding-left: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__input #search-filter__input:hover {
  border: 2px solid #585858;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__input #search-filter__input:focus {
  background: white;
  border-color: #976efa;
}

.content .main-content .main-content__item .content-filter .search-filter .search-filter__input .search-filter__icon {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
  color: #585858;
}

.content .main-content .main-content__item .content-filter .sort-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main-content .main-content__item .content-filter .sort-category .sort-category__heading {
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 10px;
}

.content .main-content .main-content__item .content-filter .main-sort {
  position: relative;
  min-width: 150px;
  height: 30px;
  background: #e5e5e5;
  border-radius: 5px;
  line-height: auto;
  border: 2px solid transparent;
}

.content .main-content .main-content__item .content-filter .main-sort .main-sort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 1.4em;
  cursor: pointer;
}

.content .main-content .main-content__item .content-filter .main-sort .main-sort__item span {
  margin-right: 10px;
}

.content .main-content .main-content__item .content-filter .main-sort:hover {
  border: 2px solid #8d8d8d;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  min-height: 80px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  z-index: 2;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort .sub-sort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort .sub-sort__item i {
  margin: 0 10px 0 0;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort .sub-sort__item:hover {
  background: #e5e5e5;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort .active-filter {
  color: white;
  background: #976efa;
}

.content .main-content .main-content__item .content-filter .main-sort .sub-sort .active-filter:hover {
  color: white;
  background: #976efa;
}

.content .main-content .main-content__item .content-filter .main-sort .active-filter-category {
  visibility: visible;
}

.content .main-content .main-content__item .content-category .content-category__item {
  display: none;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item {
  width: 185px;
  margin: 0px 2px 20px 5px;
  min-height: 340px;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .category-item__img {
  height: 246.66px;
  width: 100%;
  position: relative;
  background: #976efa;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .category-item__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .category-item__img img:hover {
  -webkit-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .category__name {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 5px;
  color: #161616;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .category__viewer {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  color: #333;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .categories-game {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .main-content .main-content__item .content-category .content-category__item .category__list .category__item .categories-game .categories-game__item {
  font-size: 1.1em;
  margin: 0 3px 0 0;
  padding: 4px 8px;
  background: #e5e5e5;
  font-weight: 600;
  color: #333;
  border-radius: 10px;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item {
  width: 304.8px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .stream-background {
  width: 304.8px;
  position: relative;
  background-color: #976efa;
  height: 171px;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .stream-background .stream-background__img {
  width: 304.8px;
  height: 171px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .stream-background .stream-background__img:hover {
  -webkit-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .stream-background .stream-background__img .stream__notification {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background: red;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .stream-background .stream-background__img .count__viewer-stream {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.1em;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 10px 0 0;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel .channel-info .channel-info__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel .channel-info .channel-info__name, .content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel .channel-info .channel-info__name-game {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  color: #585858;
  margin: 0 0 3px 0;
}

.content .main-content .main-content__item .content-category .content-category__item .stream__list .stream__item .channel .channel-info .channel-info__languages {
  margin: 5px 0 0 0;
  text-align: center;
  width: 80px;
  height: 20px;
  background: #d4d3d3;
  line-height: 20px;
  font-size: 1.2em;
  border-radius: 20px;
  font-weight: 600;
  color: #575757;
}

.content .main-content .main-content__item .content-category .active-item__content {
  display: block;
}

.content .main-content .active-content {
  display: block;
}
/*# sourceMappingURL=style.css.map */